.container{
    background-color: #272E33;
}

.noticeCard{
    background-color: #34393C;
    border-radius: 10px;
    max-height: 270px; 
    overflow: hidden;
}

.card-title{
    color: white;
    cursor: pointer;
    transition: color 0.4s ease;
}

.card-title:hover{
    color: #30A1E5;
}

.textNotice{
    display: flex;
    flex-direction: column;
    height: 100%; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

}

.imgNotice {
    /* Asegura que la imagen siempre cubra el 100% del ancho y alto de su contenedor */
    width: 100%;
    height: 100%;
    /* Ajusta cómo la imagen se adapta a su contenedor, recortando si es necesario para cubrir el área */
    object-fit: cover;
    object-position: center;
}

/* Estilos para la columna que contiene la imagen */
.col-md-4 {
    min-height: 100px;
    /* Opcional: Si quieres que la imagen se centre dentro de este espacio si no lo llena completamente (aunque object-fit: cover ya lo llena) */
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-notice{
    max-width: 500px;
    display: -webkit-box; /* Necesario para -webkit-line-clamp */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; /* Necesario para -webkit-line-clamp */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis;
}

.description-title{
    min-width: 200px;
}