.cardCreate{
    background-color: #34393C;
    color: white;
    border: none;
}

.card-header{
    background-color: #468EBB;
}

.cardEdit{
    background-color: #34393C;
    color: white;
    border: none;
}

.modalHead{
    background-color: #34393C;
    color: white;
    border-bottom: none;
}

.modalBody{
    background-color: #468EBB;
}