/*navabr*/
.navbar{
    background-color: #468EBB;
    padding: 8px;
}
/*Color bg para dropdown*/
#dropdown-basic {
  background-color:	#30A1E5;
  border-color: transparent;
}

.footer{
    background-color: #468EBB;
}